
<% content_for :phone_email do %>
  <%= raw @page.content_for(:phone) %> <%= raw @page.content_for(:email) %>
<% end %>

<div id="main-img">
  <div class="container">
    <div class="row">
      <div class="col-md-12 top_box" id="top">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row" id="about">
      <div class="col-md-7 col-sm-6">
        <%= raw @page.content_for(:about) %>
      </div>
      <div class="col-md-4 col-sm-6" >
        <%#= raw @page.content_for(:about) %>
        <div id="carousel-main" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators hidden-xs">
            <% @photos.each_with_index do |image, index| %>
              <li data-target="#carousel-main" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each_with_index do |image, index| %>
              <div class="item <% if index == 0 %>active<% end %>">
                <%= image_tag image.images.standard_resolution.url %>
               <!--<div class="carousel-caption">
                 ...
                </div> -->
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-main" data-slide="prev">
            <span class="fa fa-chevron-left" style="position:absolute;top:47%;"></span>
          </a>
          <a class="right carousel-control" href="#carousel-main" data-slide="next">
            <span class="fa fa-chevron-right" style="position:absolute;top:47%;"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="trempealeau-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hello Trempealeau</h1>
      </div>
    </div>

  </div>
</div>

<div id="trempealeau-text">
  <div class="container">
      <div class="row">
      <div class="col-md-5 col-md-offset-1 ">
        <p class="lead">We provide the destination. You provide the journey. Blue Heron Bikes is proud to announce it's newest location in Trempealeau Wisconsin. Just down the road from the Trempealeau Hotel our new shop will have a service area for light repairs, bike accessories and bike rentals. Everythink you need to enjoy the trails and roads of the Trempealeau area!</p>
      </div>
      <div class="col-md-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22959.663452114513!2d-91.43106090000002!3d44.00159555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f9440376a57e81%3A0x55b73f7b0a0fdd5a!2sTrempealeau%2C+WI!5e0!3m2!1sen!2sus!4v1398264740122" width="100%" height="250" frameborder="0" style="border:12px solid rgba(0,0,0,.2);"></iframe>


      </div>
    </div>
    </div>
</div>




<div id="brands">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Brands</h1>
        

      </div>
      <div class="col-md-8" id="brandbox">
<p>Blue Heron specializes in the sales and repair of bicycles for all cycling enthusiasts! Whether you enjoy road riding, touring, mountain, BMX or family cycling we have it all!</p>

<p>Blue Heron is proud to offer a Fit Guarantee for every bicycle purchased. Owner, Kevin Miller guarantees every bike fits to your need or will gladly exchange the bike for something that works for you. He will take the time to get you comfortable on your bike!
</p>

<p>Blue Heron is an authorized dealer for the following companies:</p>

<div class="row">
  <div class="col-md-4 logos" style="padding-top:22px;"><%= link_to (image_tag 'b2b-footer-specialized-logo.png', class: 'img-responsive'), 'http://specialized.com' %></div>
  <div class="col-md-4 logos" style="padding-top:25px;"><%= link_to (image_tag 'logo.png', class: 'img-responsive'), 'http://www.breezerbikes.com' %></div>
  <div class="col-md-4 logos" style="padding-top:39px;"><%= link_to (image_tag 'GunnarYellow-2014BlackBullseyeBanner.jpg', class: 'img-responsive'), 'http://www.gunnarbikes.com' %></div>
  <div class="col-md-4 logos" style="padding-top:5px;"><%= link_to (image_tag 'linus.png', class: 'img-responsive'), 'http://www.linusbikes.com' %></div>
  <div class="col-md-4 logos" style="padding-top:15px;"><%= link_to (image_tag 'masi-logo.jpg', class: 'img-responsive'), 'http://www.masibikes.com' %></div>
  <div class="col-md-4 logos" style="padding-top:35px;"><%= link_to (image_tag 'redline.png', class: 'img-responsive'), 'http://www.redlinebicycles.com' %></div>
  
  <div class="col-md-4 logos" style="padding-top:3px;"><%= link_to (image_tag 'main-logo.jpg', class: 'img-responsive'), 'http://www.stolenbmx.com' %></div>
  <div class="col-md-4 logos" style="padding-top:28px;"><%= link_to (image_tag 'surly.png', class: 'img-responsive'), 'http://www.surlybikes.com' %></div>
  <div class="col-md-4 logos" style="padding-top:30px;"><%= link_to (image_tag 'veloorange.png', class: 'img-responsive'), 'http://www.velo-orange.com' %></div>
  <div class="col-md-4 logos" style="padding-top:0px;"><%= link_to (image_tag 'waterford.png', class: 'img-responsive'), 'http://www.waterfordbikes.com' %></div>
  <div class="col-md-4 logos"><%= link_to (image_tag 'soma-3.png', class: 'img-responsive', style: "height:100px !important;"), 'http://www.somafab.com'  %></div>


  
</div>



      </div>
    </div>
  </div>



</div>




<div id="rental-services-accessories">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="services">
        <h1>Service</h1>
        <%= image_tag 'services.png', class: 'img-responsive' %>
        <p>Blue Heron is a full service shop. Owner, Kevin Miller, is the lead mechanic and has over a decade of experience wrenching on bikes. His local reputation as an excellent mechanic and experienced salesman has been proven by the support of the local community.

Every bicycle purchased from Blue Heron comes with a Lifetime Service Policy for minor adjustments.</p>
      </div>
      <div class="col-md-4" id="accessories">
        <h1>Accessories</h1>
        <%= image_tag 'accessories.png', class: 'img-responsive' %>
        <p>Blue Heron is able to obtain anything you need to make the morning commute easier, the afternoon ride down the trail more comfortable, and the joy of riding safer for your family.</p>
        <ul>
          <li>Ortlieb USA,LLC</li>
          <li>Jandd</li>
          <li>Topeak</li>
          <li>Bell</li>
          <li>Giro</li>
          <li>Pro-Tec (Skate &amp; BMX Helmets)</li>
          <li>Borah</li>
          <li>Craft</li>
          <li>Ibex</li>
          <li>Endura</li>
          <li>EWNR</li>
          <li>Burley</li>
          <li>Alley Cat</li>
        </ul>
      </div>
      <div class="col-md-4" id="rentals">
        <h1>Rentals</h1>
        <%= image_tag 'rental.png', class: 'img-responsive' %>
        <p>Rent a bicycle at Blue Heron and discover why the Great River Trail is one of the most traveled, scenic trails in the state!</p>

<p>We offer comfortable rental bikes at $15.00 a day and child trailers & instant tandems at $8.00.</p>

<p>Individual and family rentals include helmets. Daily trail passes are sold separately at the shop and are $4.00. Rentals are available on a first come, first served basis; reservations are not accepted. Accomodations may be arranged for larger groups. Renters may arrange for shuttles on their own, through the local cab service, typically $25.00 per run.</p>

<p>A1 Taxi Service Inc. #608.781-6655</p>

<p>Bee Cab Inc. #608.784-4233</p>
      </div>
    </div>

  </div>

</div>





<div id="info-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Hours</h3>
        <%= raw @page.content_for(:hours) %>
      </div>
      <div class="col-md-2">
        <h3>Location</h3>
        <%= raw @page.content_for(:location) %>
      </div>
      <div class="col-md-2">
        <h3>Connect</h3>
        <%= raw @page.content_for(:facebook) %><br />
        <%= raw @page.content_for(:instagram) %>
      </div>
    </div>
  </div>
</div>
